body{
font-family: Arial;
margin:0;
background:#f4f6f9;
}

nav{
display:flex;
justify-content:space-between;
background:blue;
padding:15px 40px;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
text-decoration:none;
color:black;
font-weight:bold;
}

.hero{
text-align:center;
padding:120px;
background:white;
color:black;
}

.hero button{
padding:12px 25px;
border:none;
background:black;
color:#ff8c00;
font-weight:bold;
border-radius:6px;
cursor:pointer;
}

.info{
display:flex;
justify-content:center;
gap:30px;
padding:50px;
}

.card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
width:250px;
text-align:center;
}